.container {
  max-width: 800px;
  border: 2px solid black;
}

.input_field {
  margin-bottom: 10px;
}
.errorname,
.errorpwd,
.errormail {
  margin-left: 40px;
}
.errorrd {
  margin-left: 20px;
}

.errorckbx {
  margin-left: 40px;
}

.error1 {
  color: red;
}
