.mainborder {
  color: white;
  background-color: rgb(227, 225, 225);
  align-content: center;
  height: 667px;
  width: 380px;
  border-radius: 30px;
  border-style: ridge;
  /* border-color: rgb(4, 0, 0); */
  border-color: rgb(5, 0, 0);
  border-width: 10px;
  margin: auto;
  padding-left: 20px;
  margin-top: 3%;
  box-shadow: 20px 20px  30px grey;
}

.casio {
  padding-top: 1px;
  margin-left: 2%;
  color: rgb(128, 126, 126);
  margin-bottom: -6%;
}

.textbox {
  width: 360px;
  height: 150px;
  margin-left: -5px;
  margin-top: 0px;
  display: flex;
  outline: none;
  align-content: start;
}

.textinput {
  background-color: black;
  color: white !important;

  font-size: xx-large;
  text-align: end;
  outline: none;
  border-radius: 20px;
  border-style: ridge;
  border-color: rgb(7, 7, 7);
  border-width: 4px;

  width: 100%;
  height: 70%;
  margin-top: 5%;
  margin-left: 3%;
  box-shadow: 4px 4px 3px grey;
}

.btn-first-row {
  width: 80px;
  height: 80px;
  color: rgb(255, 119, 34);
  font-weight: 900;
  font-size: large;
  margin-left: 6px;
  background-color: rgb(3, 3, 3);

  border: 1px solid grey;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 4px 4px 3px grey;

  border-style: ridge;
  border-color: rgb(7, 7, 7);
  border-width: 3px;
}
.colsp {
  width: 173px;
  background-color: rgb(255, 119, 34);
  color: black;
}
button:hover {
  background-color: rgb(255, 119, 34);

  color: black;
}

.colsp:hover {
  background-color: black;

  color: rgb(255, 119, 34);
}

.ac {
  color: white;
  background-color: red;
}

.ac:hover {
  color: black;
  background-color: red;
}

.btn-first-row:active {
  box-shadow: none;
}